---
permalink: _redirects
eleventyExcludeFromCollections: true
---
{% if site.isPublicBuild %}
/admin.html /404.html 404
/account.html /404.html 404
/login.html /404.html 404
/register.html /404.html 404
/member.html /404.html 404
/membership.html /404.html 404
/checkout.html /404.html 404
/orders.html /404.html 404
/points.html /404.html 404
/points-mall.html /404.html 404
/points-item.html /404.html 404
/points-redemptions.html /404.html 404
{% endif %}
/* /404.html 404
